@page
@model CRMWeb.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post" class="form-group">
    <div class="mb-3">
        <label>Username</label>
        <input type ="text" asp-for="Username" class="form-control" placeholder="Enter Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div>
        <label>Password</label>
        <input type ="password" asp-for="Password" class="form-control" placeholder="Enter Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
